.DS_Store
.buildpath
.circleci/config.yml
.php_cs.cache
.project
.settings
.vscode/
*~
*.swp
aql_config.xml
bob.php
build/
composer.lock
config.xml
deploy/appspec.yml
vendor/
cache/
temp.sql
CLAUDE.md
